.Produtos {
  margin-top: 100px;
  text-align: center;
}

.produtoContainer {
  margin-top: 40px;
  display: flex;
  gap: 30px;
}

.filters {
  flex: 0 0 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.filters h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #007bff;
}

.filters div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.produtos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  max-width: 1500px;
  gap: 15px;
}
